withName : 'AlleleCounter' {}
withName : 'ApplyBQSR' {}
withName : 'Ascat' {}
withName : 'BamQC' {}
withName : 'BaseRecalibrator' {}
withName : 'BcftoolsStats' {}
withName : 'BuildBWAindexes' {}
withName : 'BuildDbsnpIndex' {}
withName : 'BuildDict' {}
withName : 'BuildFastaFai' {}
withName : 'BuildGermlineResourceIndex' {}
withName : 'BuildIntervals' {}
withName : 'BuildKnownIndelsIndex' {}
withName : 'BuildPonIndex' {}
withName : 'CalculateContamination' {}
withName : 'CallMolecularConsensusReads' {}
withName : 'CNVkit' {}
withName : 'CompressSentieonVCF' {}
withName : 'CompressVCFsnpEff' {}
withName : 'CompressVCFvep' {}
withName : 'ConcatVCF' {}
withName : 'ConcatVCF_Mutect2' {}
withName : 'ControlFREEC' {}
withName : 'ControlFREECSingle' {}
withName : 'ControlFreecViz' {}
withName : 'ControlFreecVizSingle' {}
withName : 'ConvertAlleleCounts' {}
withName : 'CreateIntervalBeds' {}
withName : 'FastQCBAM' {}
withName : 'FastQCFQ' {}
withName : 'FilterMutect2Calls' {}
withName : 'FreeBayes' {}
withName : 'FreebayesSingle' {}
withName : 'GatherBQSRReports' {}
withName : 'GenotypeGVCFs' {}
withName : 'get_software_versions' {}
withName : 'GroupReadsByUmi' {}
withName : 'HaplotypeCaller' {}
withName : 'IndexBamFile' {}
withName : 'IndexBamMergedForSentieon' {}
withName : 'IndexBamRecal' {}
withName : 'Manta' {}
withName : 'MantaSingle' {}
withName : 'MapReads' {}
withName : 'MarkDuplicates' {}
withName : 'MergeBamMapped' {}
withName : 'MergeBamRecal' {}
withName : 'MergeMutect2Stats' {}
withName : 'MergePileupSummaries' {}
withName : 'MSIsensor_msi' {}
withName : 'MSIsensor_msiSingle' {}
withName : 'MSIsensor_scan' {}
withName : 'MultiQC' {}
withName : 'Mutect2' {}
withName : 'Mutect2Single' {}
withName : 'Output_documentation' {}
withName : 'PileupSummariesForMutect2' {}
withName : 'SamtoolsStats' {}
withName : 'Sentieon_BQSR' {}
withName : 'Sentieon_Dedup' {}
withName : 'Sentieon_DNAscope' {}
withName : 'Sentieon_DNAseq' {}
withName : 'Sentieon_MapReads' {}
withName : 'Sentieon_TNscope' {}
withName : 'Snpeff' {}
withName : 'Strelka' {}
withName : 'StrelkaBP' {}
withName : 'StrelkaSingle' {}
withName : 'TIDDIT' {}
withName : 'TrimGalore' {}
withName : 'UMIFastqToBAM' {}
withName : 'UMIMapBamFile' {}
withName : 'Vcftools' {}
withName : 'VEP' {}
withName : 'VEPmerge' {}
